@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('../images/casa.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.input
{
	color: #0000a0;
}
.card{
height: 300px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card2{
height: 405px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card3{
height: 500px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card4{
height: 240px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card5{
height: 160px;
margin-top: 100px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card6{
height: 500px;
margin-top: auto;
margin-bottom: auto;
width: 110%;
background-color: rgba(0,0,0,0.5) !important;

}

.card7{

	height: 220px;
margin-top: 150px;
margin-bottom: auto;
width: 220px;
background-color: rgba(0,0,0,0.5) !important;

}

.card8{

	height: 75%;
margin-top: 20%;
margin-bottom: auto;
width: 80%;
background-color: rgba(0,0,0,0.5) !important;

}

.card9{
	height: 10px;
margin-top: 150px;
margin-bottom: auto;
width: 15%;
background-color: rgba(0,0,0,0.5) !important;

}

.card-p10{
height: 300px;
margin-top: 100px;
margin-bottom: auto;
width: 500px;
background-color: rgba(0,0,0,0.5) !important;
}



.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #00BFFF;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.card-header h1{
color: white;

}

.card-header{
	color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #00BFFF;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #00BFFF;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#btns{
	width: 40px;
	text-align: center;
}

#logo {
   
     float: center;
    width: 80px;
    height: 80px;
    background-image:url('../images/logo.png');
  	background-size: 80px;
	background-repeat: no-repeat;
	

}


.card-body h5{
color: white;
}

.card-body2{
	text-align: center;
	align-content: center;
	color: white;
	margin-right: 50px;
	margin-top: 20px;
}

.card-body3{
	text-align: center;
	align-content: center;
	color: white;
	width: 100%;
	margin-right: 200px;
	margin-top: 30px;
}

.card-body4{
	text-align: center;
	align-content: center;
	color: white;
	width:40%;
	margin-right: 10px;
	margin-top: 10px;
}

.card-body5{
	text-align: center;
	align-content: center;
	color: white;
	width:50%;
	margin-right: 10px;
	margin-top: 10px;
}



.form-container span.input-label{
  display: inline-block;
  width: 120px; /* width a ajustar */
  text-align: right;
  padding-right: 10px;
  
}
.form-container span.input-label2{
  display: inline-block;
  width: 150px; /* width a ajustar */
  text-align: right;
  padding-right: 10px;
  
}
.table-hover{
	backgroud-color:blue;
}

.form-control{
	width: auto;
	height: auto;
}


}